
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hobby Website</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <main>
        <br />
        <h1>Reading!</h1>

        <br />
        <h4>
            Hi! I am Rachel Hansen! I am an expert Reader and 
            offer tutoring in anything to do with Reading. You can 
            calculate cost of services in the 'Calculator' tab. 
        </h4>

		<br /><br />
        <p>
            I enjoy reading of all types of books, except textbooks typically. 
            Some of my favorite genres are Dystopian, Historical Fiction, and Fantasy. 
            I used to read a lot more as a kid, I would go through at least a book a week,
            my parents got a bit worried about me, but that's okay because I absolutely loved it!
            I still enjoy reading and just finished readng "The Hawthorne Legacies". It was a fantastic book!
        </p>
        <p>
            As an expert in the field of reading, I could teach you a number
            of things. I could teach you how to read, what to look for in a good book, 
            give you book recommendations, teach you how to analyze books for 
            writing a rhetorical analysis, and many other things. As I've grown in the 
            field of reading, I have learned the best tricks on how to efficiently, effectively, 
            and enjoyably read any type of book.
        </p>
        <p>
            Books are the lifeforce of the world, they are how we glean knowledge, 
            how we impart knowledge to others, how knowledge is transferred. They 
            are expressions of emotion, knowledge, power, civility, they show us who we are. 
            A good book can transport you to another world and immerse you in 
            experiences you never thought possible by yourself. 
        </p>
		<img src="~/books.jpg" style="width: 100%; height: auto; align-content: center;"/>
        <img src="~/library.jpg" style="width: 100%; height: auto; align-content: center;"/>
      
    </main>

</body>
</html>

